.header {
  height: var(--header-height);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 15;
}

.content {
  height: 100%;
  margin: auto;
  max-width: 100%;
  padding: 60px 40px;
  width: var(--page-width);
}

.footer {
  background: var(--white);
  border-top: 1px solid var(--alpha-01);
  bottom: 0;
  height: var(--footer-height);
  position: absolute;
  width: 100%;
}

.overflow {
  &::before {
    background: var(--white-overflow);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    // z-index: 10;
  }
}
