@import 'colors';

* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--white);
  color: var(--dark-black);
  font-family: var(--main-font);
  font-size: 17px;
  line-height: var(--line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

input,
select,
textarea,
select {
  font-family: var(--main-font);
}

/* Transition */
.cs-fade-transition {
  transition: opacity 195ms ease-in-out;
}
.cs-fade-exited,
.cs-fade-exiting,
.cs-fade-entering {
  opacity: 0;
}
.cs-fade-entered {
  opacity: 1;
}
